@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

// ----------------------------------------------------------------
// パンくず(Breadcrumb NavXT)
// ▼テーマファイルへ
// <?php //パンくずリスト(yoast seo)
// echo '<aside class="bread-navi">';
// if(function_exists('bcn_display')){ bcn_display(); }
// echo '</aside>'."\n";;
// ?>
// ▼書き出されるコード
// <aside class="bread-navi">
//   <span>
//     <span><a href="">HOME</a> &gt; <span class="breadcrumb_last" aria-current="page">◯◯◯◯</span></span>
//   </span>
// </aside>
// ----------------------------------------------------------------
.bread-navi {
  padding-bottom: 1em;
  font-size: 1.3rem;
  line-height: 1.4;
  @include flex(wrap, flex-start, stretch);
  gap: 5px;
  overflow: hidden;
  span {
    // white-space: nowrap;
    a {
      @include flex(nowrap, flex-start, center);
      gap: 5px;
      &::after {
        content: '';
        width: 10px;
        height: 6px;
        background-image: url(./assets/images/common/icon-arrow-toggle.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transform: rotate(-90deg) translateX(-1px) scale(0.8);
      }
      &:link, &:visited {
        text-decoration: none;
        color: rgba($textBaseColor, 0.5);
      }
      &:hover, &:active {
        opacity: 1;
        color: rgba($textBaseColor, 1);
      }
    }
    br{
      display: none;
    }
  }
  //ページによって表示をカスタマイズ
  .company &,
  .recruit &{
    & > span:nth-of-type(2){
      a{
        pointer-events: none;
        color: rgba($textBaseColor, 1);
      }
    }
  }

  //英語ページ内は日本語HOMEを非表示にする
  html[lang="en"] &{
    & > span:nth-of-type(1){
      display: none;
    }
  }
  .company-en &{
    & > span:nth-of-type(3){
      a{
        pointer-events: none;
        color: rgba($textBaseColor, 1);
      }
    }
  }

  //英語ページ内日本語名を英語へ（リンクなし）
  .post-type-archive-products-en & > span:nth-of-type(3),
  .post-type-archive-news-en & > span:nth-of-type(3){
    display: inline-flex;
    gap: 5px;
    @include res_min( map-get($BP, md) ) {
      gap: 10px;
    }
    &::before{
      content: 'News';
    }
    span[property="name"]{
      display: none;
    }
  }
  .post-type-archive-products-en & > span:nth-of-type(3){
    &::before{
      content: 'Products';
    }
  }

  //英語ページ内日本語名を英語へ（リンク有り）
  .single-news-en & > span:nth-of-type(3),
  .tax-news-en-category & > span:nth-of-type(3),
  .single-products-en & > span:nth-of-type(3),
  .tax-products-en-category & > span:nth-of-type(3){
    display: inline-flex;
    gap: 5px;
    @include res_min( map-get($BP, md) ) {
      gap: 10px;
    }
    a{
      &::before{
        content: 'News';
      }
    }
    span[property="name"]{
      display: none;
    }
  }
  .post-type-archive-products-en & > span:nth-of-type(3),
  .single-products-en & > span:nth-of-type(3),
  .tax-products-en-category & > span:nth-of-type(3){
    a{
      &::before{
        content: 'Products';
      }
    }
  }

}
@include res_min( map-get($BP, md) ) {
  .bread-navi {
    padding-bottom: 25px;
    font-size: 1.5rem;
    gap: 10px;
    span {
      a {
        gap: 10px;
        &::after {
          transform: rotate(-90deg) translateX(-1px) scale(1);
        }
      }
    }
  }
}