@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ----------------------------------------------------------------
  各ページ共通
---------------------------------------------------------------- */
//左のプログレスバー
.progress{
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  z-index: 100;
}
.progress__bar{
  position: absolute;
  top: 0;
  left: 0;
  background-color: $mainColor;
  width: 100%;
  height: 0;
}

//メインコンテンツ
.main{
  background-color: #fff;
  position: relative;
  z-index: 1;
}
//ページごとに背景色を変える
.archive:not(:is(.category,.term-custom)),
.recruit.entry,
.custom-list{
  .main{
    background-color: rgba($gray, 1);
  }
}
@include res_min(){
  .main{}
}


// section
.sec{
  padding-left: 15px;
  padding-right: 15px;
  & > *{
    margin-left: auto;
    margin-right: auto;
  }
}
.sec-full{}
.sec-wide{}
.sec-medium{}
.sec-small{}
@include res_min(){
  .sec{
    padding-left: 50px;
    padding-right: 50px;
  }
  .sec-full{
    padding-left: 0;
    padding-right: 0;
  }
  .sec-wide{
    & > *{
      max-width: #{map-get($maxSize, xl) + px};
      margin-left: auto;
      margin-right: auto;
    }
  }
  .sec-medium{
    & > *{
      max-width: #{map-get($maxSize, l) + px};
      margin-left: auto;
      margin-right: auto;
    }
  }
  .sec-small{
    & > *{
      max-width: #{map-get($maxSize, base) + px};
      margin-left: auto;
      margin-right: auto;
    }
  }
}


//複数カラム表示レイアウト
.has-column{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 0;
  //side
  .side-column{
    padding: 40px 15px 25px;
    background-color: rgba($gray, 1);
  }
  //main
  .main-column{
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    //個別：製品情報詳細
    &.main-column--products-singular{
      // padding-top: 30px;
    }
    .button-wrap:last-child{
      margin-top: 60px;
      @include res_min( map-get($BP, lg) ){
        margin: 100px auto;
        @include res_min( map-get($BP, xl) ){
          margin: 140px auto;
        }
      }
    }
  }
}
@include res_min( map-get($BP, lg) ){
  .has-column{
    //基本は2カラム
    grid-template-columns: clamp(250px, 18.75vw, 360px) 1fr;
    z-index: 2;
    //side
    .side-column{
      padding: 30px 0 100px;
      background-color: rgba($gray, 1);
      position: relative;
      & > *{
        margin: 0 auto;
        width: clamp(140px, 15.81vw, 215px);
      }
      //個別：製品情報
      &.side-column--products{
        padding-top: 65px;
      }
      //fixed - サイドに固定
      // & > *.is-fixed{
      //   width: clamp(140px, 15.81vw, 215px);
      //   background-color: rgba($gray, 1);
      //   position: fixed;
      //   position: -webkit-sticky;
      //   position: sticky;
      //   left: calc( (clamp(250px, 18.75vw, 360px) - clamp(140px, 15.81vw, 215px)) /2 );
      //   top: 130px;
      //   z-index: 2;
      // }
    }
    //main
    .main-column{
      padding-top: 95px;
      padding-left: 0;
      padding-right: 0;
      & > *:not(:is(.sec-bread-navi, .sec-page-navi)){
        margin-left: clamp(50px, 6.77vw, 130px);
        margin-right: clamp(50px, 6.77vw, 130px);
        @include res_min( map-get($BP, xl) ){
          margin-right: clamp(150px, 18.75vw, 360px);
        }
      }
    }
  }
}


//バンくず
.sec-bread-navi{
  margin-top: 40px;
  background-color: #fff;
  //複数カラム内
  .main-column > &{}
  //ページごと
  .recruit &,
  .sec.contact + &{
    margin-top: 0;
  }
}
//個別にグレー背景にする
.archive:not(:is(.category,.term-custom)) .sec-bread-navi,
.contact .sec-bread-navi,
.entry .sec-bread-navi,
.custom-list .sec-bread-navi{
  background-color: rgba($gray, 1);
}
@include res_min(){
  .sec-bread-navi{
    margin-top: 200px;
    //複数カラム内
    .main-column > &{
      margin-left: min(50px, 2.6vw);
    }
    //ページごと
    .sec.contact + &,
    .sec.entry + &{
      margin-top: 0;
    }
    @include res_min( map-get($BP, xl) ){
      .recruit:not(.entry) &{
        .bread-navi{
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    &.sec-medium{
      & >*{
        max-width: 1100px;
      }
    }
  }
}


// SPで表示
.sp{}
@include res_min(){
  .sp{ display: none; }
}
// PCで表示
.pc{ display: none; }
@include res_min(){
  .pc{ display: inline; }
}


//font
.ff-en{
  font-family: $ff-en;
  letter-spacing: -0.025em;
}


//tel
.tel{
  font-family: $ff-en;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  span{
    margin-right: 0.5626em;
    font-size: 0.72em;
  }
}


// JP / EN
.switch-language{
  display: flex;
  line-height: 1;
  a{
    font-family: $ff-en;
    letter-spacing: 0;
    color: rgba($textBaseColor, 0.25);
  }
  .separate{
    margin: 0 10px;
    width: 1px;
    height: 1em;
    background-color: $textBaseColor;
    transform: rotate(30deg);
  }
  html[lang="ja"] & > a{
    &.ja{
      color: rgba($textBaseColor, 1);
    }
  }
  html[lang="en"] & > a{
    &.en{
      color: rgba($textBaseColor, 1);
    }
  }
  @include res_min(){
    //個別に変更
    html[lang="ja"] .home .global-menu & > a,
    html[lang="ja"] .page-template-tmp-recruit .global-menu & > a{
      &.ja{
        color: #fff;
      }
    }
    //個別に変更
    html[lang="en"] .home .global-menu & > a,
    html[lang="en"] .page-template-tmp-recruit .global-menu & > a{
      &.en{
        color: #fff;
      }
    }
  }
}


//ブロックレイアウト
.block-layout1{
  @include flex(nowrap, flex-start, stretch);
  flex-direction: column;
  .block-item-data{
    display: contents;
  }
  .block-item-title{
    order: 1;
  }
  .block-item-text{
    order: 3;
    margin-top: 26px;
  }
  .button-r-link-large{
    order: 4;
    margin-top: 55px;
  }
  .block-item-image{
    order: 2;
    margin-top: 26px;
  }
}
@include res_min(){
  .block-layout1{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .block-item-data{
      display: block;
      flex-basis: 50%;
      padding-right: 8.333%;
    }
    .block-item-title{
      order: unset;
    }
    .block-item-text{
      order: unset;
      margin-top: 40px;
    }
    .button-r-link-large{
      order: unset;
      margin-top: 35px;
    }
    .block-item-image{
      order: unset;
      margin-top: 0;
      flex-basis: 50%;
    }
  }
}


/* ------------------------------------
//  テーブル
// ----------------------------------*/
.tbl1{
  width: 100%;
  max-width: 100%;
  tr{
    border-bottom: 1px solid rgba($textBaseColor, 0.15);
    &:first-of-type{
      border-top: 1px solid rgba($textBaseColor, 0.15);
    }
  }
  th, td{
    display: block;
    padding: 0.7em 1em;
  }
  th{
    background-color: rgba($gray, 0.7);
    font-weight: 500;
  }
}
@include res_min(){
  .tbl1{
    th, td{
      display: table-cell;
      vertical-align: top;
      padding: 1.7em 0;
    }
    th{
      padding-right: 1.7em;
      width: clamp(120px, 14.32vw, 270px);
      background-color: rgba($gray, 0);
    }
  }
}


.tbl2{
  width: 100%;
  max-width: 100%;
  tr{
    border-bottom: 1px solid rgba($textBaseColor, 0.15);
    &:first-of-type{
      border-top: 1px solid rgba($textBaseColor, 0.15);
    }
  }
  th,
  td{
    padding: 0.7em 1em;
    line-height: 1.5;
  }
  th{
    width: 31.5%;
    background-color: rgba($gray, 0.7);
    border-right: 1px solid rgba($textBaseColor, 0.5);
  }
  td{
    padding-left: 1em;
    padding-right: 1em;
  }
}
@include res_min(){
  .tbl2{
    th,
    td{
      padding: 0.7em 1.6em;
    }
    td{
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }
}


/* ------------------------------------
//  他パーツ
// ----------------------------------*/

//色
.red{
  color: rgba($mainColor, 1);
}


// 注釈
.note{
  position: relative;
  padding-left: 1.1em;
  margin-top: 0.5em;
  line-height: 1.5;
  &::before{
    content: '・';
    position: absolute;
    left: 0;
    top: 0;
  }
}


//頭に●印が付く
.before-disc-item{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  &::before{
    content: '';
    margin-right: 8px;
    width: 8px;
    height: 8px;
    background-color: rgba( $textBaseColor , 1 );
    border-radius: 50%;
    display: block;
  }
}


//前後を揃えるブロック
.align-block{
  @include flex(nowrap, flex-start, stretch);
  & > *:first-child{
    white-space: nowrap;
  }
}
.align-blocks{
  display: grid;
  grid-template-columns: auto 1fr;
  dt{
    padding-right: 1em;
    position: relative;
    &::after{
      content: '：';
      position: absolute;
      right: 0;
    }
  }
}


// マーカー
.marker{
  background-color: #FFE2D9;
  padding: 0 .3em;
  margin: 0 .3em;
}


// ページトップ
.page-top{
  padding: 15px 0;
  border-top: 1px solid rgba( $textBaseColor , 0.2 );
  border-bottom: 1px solid rgba( $textBaseColor , 0.2 );
}
.button-page-top{
  @include transition();
  z-index: 8;
  @include flex(nowrap, center, center);
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  span{
    font-family: $ff-en;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0;
    color: rgba($textBaseColor, 1);;
    line-height: 1;
  }
  &::before{
    content: '';
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: rgba( $textBaseColor , 1 );
    -webkit-mask-image: url(./assets/images/common/icon-arrow-pagetop.svg);
            mask-image: url(./assets/images/common/icon-arrow-pagetop.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: auto;
            mask-size: auto;
  }
}
@include res_min(){
  .page-top{
    display: contents;
  }
  .button-page-top{
    opacity: 0;
    &.is-fixed{
      opacity: 1;
    }
    position: fixed;
    right: min(15vw, 30px);
    bottom: min(15vw, 40px);

    flex-direction: column;
    gap: 8px;
    span{
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      -webkit-text-orientation: sideways;
              text-orientation: sideways;
    }
    //色を変える
    &.is-change{
      span{
        color: rgba(#fff, 0.8);
      }
      &::before{
        background-color: rgba(#fff, 1);
      }
    }
  }
}


// アンカーリンク
.anchor{
  display: block;
  padding-top: 40px;
  margin-top: -40px;
}
@include res_min(){
  .anchor{
    padding-top: 80px;
    margin-top: -80px;
  }
}


//マウスストーカー（マウス追随）
.cursor,
.follower {
  position: absolute;
  top: -110px;
  left: -80px;
  border-radius: 50%;
  // pointer-events: none;
}

.cursor {
  z-index: 10;
}

.follower {
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($mainColor, 0);
  // transition: transform linear 0.2s, width ease 0.1s, height ease 0.1s;
  transition: 0.3s;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 9;
  &::after{
    content: 'VIEW';
    font-family: $ff-en;
    font-size: 0px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    transition-timing-function: ease-out;
  }
  &.is-active {
    width: 160px;
    height: 160px;
    background-color: rgba($mainColor, 1);
    transition: 0.3s;
    transition-timing-function: ease-out;
    &::after{
      font-size: 2.2rem;
    }
  }
}
