@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* -----------------------------------------
// リセット
// ---------------------------------------*/
input[type="text"],input[type="password"],textarea,select { outline: none; }
// ie11のinputに出る×印を消す
input[type=text]::-ms-clear,input[type=password]::-ms-reveal { display: none; }
// iOSでinputが角丸になるのを防止
input[type="button"],input[type="text"],input[type="email"],input[type="url"],input[type="tel"],input[type="submit"],textarea { -webkit-appearance: none; border-radius: 0; }

//プレースホルダーの色
$phsize: 1.5rem;
$phcolor: rgba($textBaseColor, 0.2);
$phweight: inherit;

:placeholder-shown { font-family: $ff-go; font-size: #{$phsize}; color: $phcolor; font-weight: $phweight; }
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder { font-family: $ff-go; font-size: #{$phsize}; color: $phcolor; font-weight: $phweight; }/* Firefox 18- */:-moz-placeholder { color: $phcolor; font-weight: $phweight; opacity: 1; }/* Firefox 19+ */::-moz-placeholder { color: $phcolor; font-weight: $phweight; opacity: 1; }

/* -----------------------------------------
// 基本設定
// ---------------------------------------*/
form {
  padding: 0;
  margin: 0;
}
label {}
input:is([type="email"],[type="number"],[type="password"],[type="search"],[type="tel"],[type="text"],[type="url"]),
select,
textarea {
  display: block;
  box-sizing: border-box;
  padding: 0.7em 1em;
  max-width: 100%;
  background-color: rgba(#fff, 1);
  border: 10px solid rgba(#fff, 1);
  border-radius: 3px;
  font-family: $ff-go;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: none;
  caret-color: rgba($textBaseColor, 1);
  &:focus {
    outline: none;
    outline: 1px solid rgba($textBaseColor, 1);
    // background-color: #f1f1f1;
  }
}
@include res_min( map-get($BP, md) ) {
  label {}
  input:is([type="email"],[type="number"],[type="password"],[type="search"],[type="tel"],[type="text"],[type="url"]),
  select,
  textarea {
    font-size: 1.7rem;
    padding: 0.85em 1.3em;
  }
}

textarea {
  width: 100%;
  min-height: 10em;
}
@include res_min( map-get($BP, md) ) {
  textarea {
    min-height: 26em;
  }
}

input{
  &.size-small{
    width: 9em;
    @include res_min( map-get($BP, md) ) {
      width: 18em;
    }
  }
  &.size-wide{
    width: 100%;
  }
}

//必須アイコン
.required {
  &::after{
    content: '*';
    margin: 0 0.25em;
    display: inline-flex;
    color: $mainColor;
  }
}

/* -----------------------------------------
// ここから
// ---------------------------------------*/
.form-contents{
  margin-top: 15px;
  font-size: 1.6rem;
  @include res_min( map-get($BP, md) ) {
    font-size: 1.7rem;
  }

  // -----------------------------------------
  // ラベル + input
  // -----------------------------------------
  // ラベル + input の基本ブロック
  .item {
    padding: 30px 0;
    border-bottom: 1px solid rgba($textBaseColor, 0.15);
    &:first-of-type{
      border-top: 1px solid rgba($textBaseColor, 0.15);
    }
    position: relative;
  }
  @include res_min( map-get($BP, md) ) {
    .item {
      padding: 35px 0;
      @include flex(nowrap, flex-start, stretch);
    }
  }

  // ラベル
  .item__label {
    font-size: inherit;
    line-height: 1.3;
    .item__label__sub{
      display: block;
      margin-top: 8px;
      margin-left: -0.5em;
      font-size: 0.88em;
    }
  }
  @include res_min( map-get($BP, md) ) {
    .item__label {
      flex: 0 0 32%;
      padding: 0 1em 0 0;
      margin-top: 0.85em;
      line-height: 1.7;
    }
  }

  // input
  .item__input {
    .item__input__block{
      margin-top: 1em;
      @include flex(nowrap, flex-start, center);
      gap: 1em;
      &--center{
        justify-content: center;
      }
      .input-separate-text{
        &.small{
          font-size: 1.4rem;
        }
      }
    }
  }
  @include res_min( map-get($BP, md) ) {
    .item__input {
      flex: 1 1 68%;
      .item__input__block{
        margin-top: 30px;
        &:first-of-type{
          margin-top: 0;
        }
        .input-separate-text{
          &.small{
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  /* -----------------------------------------
  // INPUT類 パーツ
  // ---------------------------------------*/
  //ラジオボタン, チェックボックス カスタマイズ
  .radio-field,
  .checkbox-field {
    // display: block;
    // margin: 1.3em 0 0 10px;
    line-height: 1.7;
    white-space: nowrap;
    label {
      position: relative;
      cursor: pointer;
      //ボタンのカスタマイズ
      input {
        display: none;
      }
      //チェックなし時
      span.radio-field-text,
      span.checkbox-field-text {
        display: inline-block;
        padding-left: 30px;
        position: relative;
        //ボタンを装飾
        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background-color: #fff;
          // border: 1px solid #DDDDDD;
          border-radius: 50%;
          position: absolute;
          top: 0.2em;
          left: 0;
          @include res_min( map-get($BP, md) ) {
            top: 0.25em;
          }
        }
      }
      span.checkbox-field-text {
        &::before {
          border-radius: 3px;
        }
      }
      //チェックあり有り時
      input:checked + span.radio-field-text,
      input:checked + span.checkbox-field-text {
        &::before {
          border-color: $mainColor;
        }
        &::after {
          content: "";
          width: 14px;
          height: 14px;
          background-color: $mainColor;
          border-radius: 50%;
          position: absolute;
          top: calc(0.25em + 3px);
          left: 3px;
        }
      }
      input:checked + span.checkbox-field-text {
        //チェックボックス
        &::before {
          // background-color: $mainColor;
        }
        &::after {
          background-color: #fff;
          background-image: url(./assets/images/common/icon-checkmark.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%;
          border: none;
          border-radius: 0;
        }
      }
    }
  }


  // セレクトボックス：カスタマイズ
  select{
    width: 100%;
    max-width: 100%;
    // 初期化
    -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
    position: relative;
    &-ms-expand {
      display: none;
    }
  }
  .custom-select {
    color: rgba($textBaseColor, 0.2);
  }
  // セレクトボックスに下矢印をつけるカスタマイズ
  // select の親 に .custom-select を付け足す
  .custom-select {
    width: 100%;
    position: relative;
    select {
      padding-right: 50px;
      cursor: pointer;
    }
    //画像で
    &::before{
      content: "";
      width: 54px;
      height: 100%;
      background-color: rgba($textBaseColor, 1);
      -webkit-mask-image: url(./assets/images/common/icon-arrow-toggle.svg);
              mask-image: url(./assets/images/common/icon-arrow-toggle.svg);
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      -webkit-mask-position: center;
              mask-position: center;
      -webkit-mask-size: 10px;
              mask-size: 10px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      pointer-events: none;
      cursor: pointer;
    }
    //三角形で
    // &::after {
    //   content: "";
    //   width: 0;
    //   height: 0;
    //   border: 6px solid transparent;
    //   border-top-color: $textBaseColor;
    //   position: absolute;
    //   right: 12px;
    //   // top: calc(50% - 3px);
    //   top: 15px;
    //   z-index: 999;
    //   pointer-events: none;
    //   cursor: pointer;
    // }
  }
  @include res_min( map-get($BP, md) ) {
    .custom-select {
      // flex: 0 0 350px !important;
      select {
        padding-right: 68px;
        // width: 350px;
      }
      &::before {
        width: 63px;
      }
    }
  }


  // ファイルタイプ：カスタマイズ
  .custom-file{
    padding: 15px 20px;
    margin-top: -5px;
    background-color: rgba(#fff, 1);
    border-radius: 3px;
    border: 1px solid rgba($textBaseColor, 1);
    font-size: 1.5rem;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    @include transition();
    &:hover{
      opacity: 0.8;
    }
    input[type="file"]{
      display: none;
    }
  }
  .custom-file-selected-file{
    margin-top: -5px;
    font-size: 1.5rem;
    line-height: 1.3;
  }
  @include res_min( map-get($BP, md) ) {
    .custom-file{
      padding: 15px 34px;
      margin-top: -22px;
      font-size: 1.6rem;
    }
    .custom-file-selected-file{
      margin-top: -22px;
      font-size: 1.6rem;
    }
  }


/* -----------------------------------------
// 個人情報同意
// ---------------------------------------*/
  .item--privacy_policy{}
  @include res_min( map-get($BP, md) ) {
    .item--privacy_policy{
      flex-direction: column;
      -moz-row-gap: 32px;
           row-gap: 32px;
    }
  }

  //プライバシーポリシー読み込み
  .include-privacy_policy{
    padding: 15px 10px 15px 0;
    margin-top: 1em;
    margin-bottom: 1.8em;
    background-color: #fff;
    border-radius: 3px;
    .inner{
      max-height: 10em;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        width: 5px;
      }
      &::-webkit-scrollbar-track{
        background-color: $gray;
        border-radius: 2.5px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #818181;
        border-radius: 2.5px;
      }
    }
    h2{
      padding: 5px 20px 0;
      font-size: 1.6rem;
    }
    .ordered-list{
      padding: 0 20px;
      dt{
        margin-top: 1.5em;
        font-size: 1.8rem;
      }
      dd{
        padding-left: 0;
        font-size: 1.5rem;
      }
    }
  }
  @include res_min( map-get($BP, md) ) {
    .include-privacy_policy{
      padding: 20px 14px 20px 0;
      margin-top: 0;
      .inner{
        max-height: 21em;
        &::-webkit-scrollbar{
          width: 7px;
        }
        &::-webkit-scrollbar-track{
          border-radius: 3.5px;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 3.5px;
        }
      }
      h2{
        padding: 10px 32px 0;
        font-size: 2rem;
      }
      .ordered-list{
        padding: 0 32px;
        dt{
          font-size: 1.8rem;
        }
      }
    }
  }


  /* -----------------------------------------
  // ボタン
  // ---------------------------------------*/
  .button-wrap{
    margin-top: 50px;
  }
  @include res_min( map-get($BP, md) ) {
    .button-wrap{
      margin-top: 55px;
      .button--gray{
        max-width: 244px;
      }
    }
  }


  /* -----------------------------------------
  // 現在のページによって変動
  // ---------------------------------------*/
  //確認ページ
  .contact-confirm &{

    input:is([type="email"],[type="number"],[type="password"],[type="search"],[type="tel"],[type="text"],[type="url"]),
    select,
    textarea {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }

    textarea {
      height: auto;
      min-height: auto;
    }

    input{
      &.size-small{
        width: auto;
      }
    }

    .item__label {
      font-weight: 500;
    }
    @include res_min( map-get($BP, md) ) {
      .item__label {
        margin-top: 0;
      }
    }

    .item__input {
      .item__input__block{
        margin-top: 0;
        gap: 0;
        &:first-of-type{
          margin-top: 1em;
        }
      }
    }
    @include res_min( map-get($BP, md) ) {
      .item__input {
        .item__input__block{
          &:first-of-type{
            margin-top: 0;
          }
        }
      }
    }

    .custom-file{
      display: none;
    }
    .custom-file-selected-file{
      margin-top: 0;
    }

  }


} //.form-contents