@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ------------------------------------
//  BASE
// ----------------------------------*/
a {
  @include transition();
  color: $linkColor;
  text-decoration: none;
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover, &:active {
    opacity: 0.8;
    color: $linkHoverColor;
  }
  // ウェブアイコン使用時
  i {
    margin: 0 4px;
  }
  // transform使用時にchromeでズレが生じるのを防ぐ
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
//画像リンク
a img {
  opacity: 1;
}
@include res_min() {
  a img {
   @include transition(opacity);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    &:hover {
      opacity: 0.8;
    }
  }
}

*:is(header, footer) a{
  color: $textBaseColor;
  &:hover, &:active {
    color: $textBaseColor;
  }
}


/* ----------------------------------------------------------------
  アイコンタイプ
---------------------------------------------------------------- */
// 左に > アイコン
.link_type_arrow_left1 {
  padding: 0 0 0 18px;
  position: relative;
  &::before {
    content: '';
    width: 7px;
    height: 100%;
    background-image: url(./assets/images/common/ico_arrow_r_white.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    position: absolute;
    top: 0.4em;
    left: 0;
  }
}


/* ----------------------------------------------------------------
  ボタンタイプ
---------------------------------------------------------------- */
.button-wrap {
  @include flex(wrap, center, stretch);
  gap: 1em;
  &.--left{
    justify-content: flex-start;
  }
  &.--right{
    justify-content: flex-end;
  }
}
@include res_min() {
  .button-wrap {
    gap: 1.5em 2em;
  }
}

.button {
  // 基本
  border-radius: 3px;
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  position: relative;
  &:link, &:visited {
    background-color: #fff;
  }
  &:hover, &:active {
    opacity: 0.8;
    text-decoration: none;
  }
}
@include res_min() {
  .button {
    // 基本
    border-radius: 4px;
    font-size: 2rem;
    letter-spacing: 0.05em;
  }
}


//テキスト+ボタンリンク
.button-r-link-small{
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  position: relative;
  &:link, &:visited{
    text-decoration: underline;
    color: $textBaseColor;
  }
  //丸
  &::after{
    content: '';
    margin-left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgba($mainColor, 0.25);
  }
  //丸の中のアイコン
  &::before{
    content: '';
    width: 14px;
    height: 8px;
    background-color: $mainColor;
    -webkit-mask-image: url(./assets/images/common/icon-arrow-right.svg);
            mask-image: url(./assets/images/common/icon-arrow-right.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 100%;
            mask-size: 100%;
    position: absolute;
    right: calc(28px / 2 - 7px);
    top: 50%;
    transform: translateY(-50%);
  }
}

.button-r-link-large{
  @extend .button-r-link-small;
  align-self: flex-start;
  font-size: 1.6rem;
  &:link, &:visited{
    text-decoration: none;
    color: $textBaseColor;
  }
  //丸
  &::after{
    content: '';
    margin-left: 20px;
    width: 82px;
    height: 82px;
    border: 1px solid rgba($mainColor, 0.25);
  }
  //丸の中のアイコン
  &::before{
    content: '';
    width: 14px;
    height: 8px;
    background-color: $mainColor;
    -webkit-mask-image: url(./assets/images/common/icon-arrow-right.svg);
            mask-image: url(./assets/images/common/icon-arrow-right.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 100%;
            mask-size: 100%;
    position: absolute;
    right: calc(82px / 2 - 7px);
    top: 50%;
    transform: translateY(-50%);
  }
}


/* ----------------------------------------------------------------
  ボタンアニメーション
---------------------------------------------------------------- */

//丸ボタンアニメーション
svg.circle-ani{
  transform: rotate(-90deg) scale(2);
  position: absolute;
  z-index: -1;
  pointer-events: none;
  circle.circle-ani{
    fill: none;
    stroke: rgba($mainColor, 1);
    stroke-width: calc(1px / 4);
    stroke-dasharray: 314;
    opacity: 0;
    transition: all cubic-bezier(0.35, 0.01, 0, 0.98) 0.3s;
  }
}
.button-circle-ani{
  position: relative;
  z-index: 1;
  overflow: hidden;
  @include res_min() {
    overflow: visible;
  }
  .svg-area{
    width: 82px;
    height: 82px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  //丸
  &::after{
    content: '';
    border-radius: 50%;
    z-index: -1;
    transform: scale(1);
    opacity: 1;
    transition: all cubic-bezier(0.35, 0.01, 0, 0.98) 1.5s;
  }
  &:hover{
    //広がりながら消える丸
    &::after{
      transform: scale(1.15);
      opacity: 0;
    }
    //丸を描くアニメーション
    circle.circle-ani{
      opacity: 1;
      -webkit-animation: circleAni cubic-bezier(0.35, 0.01, 0, 0.98) 1.5s 1;
      animation: circleAni cubic-bezier(0.35, 0.01, 0, 0.98) 1.5s 1;
    }
  }
}
@-webkit-keyframes circleAni {
  from {
    stroke-dashoffset: 314;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes circleAni {
  from {
    stroke-dashoffset: 314;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes roundBtn {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}
@keyframes roundBtn {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}


/* ----------------------------------------------------------------
  ページナビ
---------------------------------------------------------------- */
.pager {
  margin-top: 16px;
  padding: 0 46px;
  @include flex(wrap, center, stretch);
  position: relative;

  .prev,
  .next,
  .pager_num {
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 1.4rem;
    line-height: 1;
    @include flex(nowrap, center, center);
  }

  .pager_num {
    margin: 16px 8px 0;
  }
  a.pager_num {
    &:hover, &:active {
      text-decoration: none;
      background-color: $brown;
      font-weight: 700;
      color: #fff;
    }
  }

  .current {
    background-color: $brown;
    font-weight: 700;
    color: #fff;
  }

  // 前後
  .prev,
  .next {
    position: absolute;
    bottom: 0;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url(./assets/images/common/ico_arrow_pager.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 5px;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid $brown;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
    }
    &:hover, &:active {
      text-decoration: none;
      &::before {
        background-color: $brown;
        background-image: url(./assets/images/common/ico_arrow_pager_white.svg);
      }
    }
  }
  .prev {
    left: 0;
    padding-left: 40px;
    &::before {
      transform: scale(-1,-1);
    }
    &::before,
    &::after {
      left: 0;
    }
  }
  .next {
    right: 0;
    padding-right: 40px;
    &::before,
    &::after {
      left: auto;
      right: 0;
    }
  }

  ///// 個別記事内
  &__entry {
    margin-top: 34px;
    margin-bottom: 60px;
    padding: 0;
    @include flex(nowrap, space-between, stretch);
    .prev,
    .next {
      width: auto;
      flex: 0 0 auto;
      position: relative;
    }
  }

}


/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
// blank
a[target="_blank"] {
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    margin-left: 0;
    width: 15px;
    height: 1em;
    background-image: url(./assets/images/common/icon-blank.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
    vertical-align: bottom;
  }
}


// telリンク
.link-tel {
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}
// @include res_min() {
//   .link-tel {
//     pointer-events: none;
//   }
// }