@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

/* ----------------------------------------------------------------
  リスト
---------------------------------------------------------------- */
.ordered-list {
  & > li,
  & > dt{
    margin-top: 2em;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    counter-increment: cntnum;
    &::before{
      content: counter(cntnum)'.';
    }
  }
  dd{
    margin-top: 1em;
  }
}
@include res_min() {

}