@use '../_core/valiables' as *;
@use '../_core/mixins' as *;
@use '../_partials/common' as *;

/* ------------------------------------
//  記事関連各パーツ
// ----------------------------------*/
//日付 + カテゴリー
.post-meta{
  @include flex(nowrap, flex-start, center);
  gap: 0;
}
//日付
.post-date{
  font-family: $ff-en;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}
@include res_min( map-get($BP, md) ){
  .post-date{
  }
}
//カテゴリー
.post-category{
  font-size: 1.4rem;
  line-height: 1;
  color: rgba($mainColor, 1);
  @include flex(nowrap, flex-start, center);
  &::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $mainColor;
    display: block;
    margin: 0 14px;
  }
  //非表示
  .new-graduates &{
    display: none;
  }
}
//タイトル
.post-title{
  margin-top: 13px;
  font-size: 1.6rem;
  line-height: 1.5;
  @include transition();
  @include res_min( map-get($BP, md) ){
    font-size: 1.8rem;
  }
}


/* ----------------------------------------------------------------
  リスト関連
---------------------------------------------------------------- */
// 記事リスト
.post-list{
  // display: grid;
  // gap: 0;
  //記事リスト - 各ポスト
  .post-list__item{
    border-bottom: 1px solid rgba($textBaseColor, 0.15);
    &:first-of-type{
      border-top: 1px solid rgba($textBaseColor, 0.15);
    }
    position: relative;
    //リンク
    .post-link{
      display: block;
      padding: 26px 80px 26px 14px;
      //右矢印（ホバーで左に動く）
      &::before{
        content: '';
        width: 14px;
        height: 8px;
        background-color: $mainColor;
        -webkit-mask-image: url(./assets/images/common/icon-arrow-right.svg);
                mask-image: url(./assets/images/common/icon-arrow-right.svg);
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        -webkit-mask-position: center;
                mask-position: center;
        -webkit-mask-size: 100%;
                mask-size: 100%;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        @include transition();
      }
      &:link, &:visited{
        color: rgba($textBaseColor, 1);
      }
      &:hover, &:active{
        opacity: 1;
        .post-title{
          color: rgba($mainColor, 1);
        }
        &::before{
          right: 20px;
        }
      }
    }
    //カテゴリー
    .post-category{
      //カテゴリーはリンクしないようにする
      & > a{
        pointer-events: none !important;
        color: $mainColor;
      }
    }
  }
}
@include res_min( map-get($BP, md) ){
  .post-list{
    .post-list__item{
      //リンク
      .post-link{
        padding: 36px 80px 36px 20px;
        //右矢印（ホバーで左に動く）
        &::before{
          right: 20px;
        }
        &:hover, &:active{
          &::before{
            right: 24px;
          }
        }
      }
    }
    //
    .main-column > &{
      margin-top: 25px;
    }
  }
}


// カテゴリーのリスト表示（wp_list_categories）
.category-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 0.8em 1.2em;
  z-index: 2;
  .cat-item{
    a{
      padding: 0 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: clamp(1.4rem, 1.3vw, 1.6rem);
      line-height: 1.1;
      color: rgba($textBaseColor, 1);
      white-space: nowrap;
      margin: 0 auto;
      height: 36px;
      border-radius: 18px;
      position: relative;
      @include transition();
      &::before{
        content: '';
        width: 5px;
        height: 5px;
        background-color: rgba($mainColor, 0);
        border-radius: 50%;
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        @include transition();
      }
      &:link, &:visited{
        background-color: rgba(#fff, 0);
        color: rgba($textBaseColor, 1);
      }
      //「:hover」が使用できない端末
      @media (hover: none){
        &:active{
          padding-left: 40px;
          opacity: 1;
          background-color: rgba(#fff, 1);
          color: rgba($mainColor, 1);
          &::before{
            background-color: rgba($mainColor, 1);
          }
        }
      }
      //「:hover」が使用できる端末
      @media (hover: hover){
        &:hover, &:active{
          padding-left: min(50px, calc(1.85vw + 15px));
          opacity: 1;
          background-color: rgba(#fff, 1);
          color: rgba($mainColor, 1);
          &::before{
            background-color: rgba($mainColor, 1);
          }
        }
      }
    }
    //カレント
    &.current-cat a,
    &.is-active a{
      padding-left: 40px;
      color: rgba($mainColor, 1);
      &::before{
        background-color: rgba($mainColor, 1);
      }
      &:link, &:visited{
        background-color: rgba(#fff, 1);
        color: rgba($mainColor, 1);
      }
    }
  }
  //サイドのリスト：ページ内アンカーリンク
  &.position-nav{
    .cat-item{
      a{
        padding-left: 40px;
        //「:hover」が使用できない端末
        @media (hover: none){
          &::before{
            background-color: rgba($mainColor, 1);
          }
          &:link, &:visited{
            background-color: rgba(#fff, 1);
            color: rgba($textBaseColor, 1);
          }
        }
      }
    }
  }
}
@include res_min( map-get($BP, md) ){
  .category-list{
    gap: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
    .cat-item{
      a{
        padding: 0 min(35px, 1.85vw);
        &::before{
          left: min(35px, 1.85vw);
        }
        //「:hover」が使用できない端末
        @media (hover: none){
          &:active{
            padding-left: min(50px, calc(1.85vw + 15px));
          }
        }
      }
      //カレント
      &.current-cat a,
      &.is-active a{
        padding-left: min(50px, calc(1.85vw + 15px));
      }
    }
    //サイドのリスト：ページ内アンカーリンク
    &.position-nav{
      .cat-item{
        a{
          padding-left: min(50px, calc(1.85vw + 15px));
        }
        @include res_min( map-get($BP, lg) ){
          //カレント
          &.is-active a{
            color: rgba($mainColor, 1);
          }
          &:not(.is-active){
            a{
              padding-left: min(35px, 1.85vw);
              &::before{
                background-color: rgba($mainColor, 0);
              }
              &:link, &:visited{
                background-color: rgba(#fff, 0);
              }
              //「:hover」が使用できない端末
              @media (hover: none){
                &:active{
                  padding-left: min(50px, calc(1.85vw + 15px));
                  opacity: 1;
                  background-color: rgba(#fff, 1);
                  color: rgba($mainColor, 1);
                  &::before{
                    background-color: rgba($mainColor, 1);
                  }
                }
              }
              //「:hover」が使用できる端末
              @media (hover: hover){
                &:hover{
                  padding-left: min(50px, calc(1.85vw + 15px));
                  opacity: 1;
                  background-color: rgba(#fff, 1);
                  color: rgba($mainColor, 1);
                  &::before{
                    background-color: rgba($mainColor, 1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
  ページネーション - アーカイブページ
---------------------------------------------------------------- */
// ページネーション（the_posts_pagenationで出力）↓
// <nav class="navigation pagination" aria-label="投稿">
// <h2 class="screen-reader-text">投稿ナビゲーション</h2>
// <div class="nav-links">
//   <ul class='page-numbers'>
//     <li><span aria-current="page" class="page-numbers current">1</span></li>
//     <li><a class="page-numbers" href="//localhost:3000/news/page/2/">2</a></li>
//     <li><a class="page-numbers" href="//localhost:3000/news/page/3/">3</a></li>
//     <li><a class="next page-numbers" href="//localhost:3000/news/page/2/">次へ</a></li>
//   </ul>
// </div>
// </nav>
$pageNBtnS: 36;
$pageNBtnL: 40;
.navigation.pagination{
  margin-top: 50px;
  .nav-links{
    ul.page-numbers{ // UL
      @include flex(wrap, center, stretch);
      gap: 6px;
      & > li{
        flex-basis: #{$pageNBtnS + 'px'};
        height: #{$pageNBtnS + 'px'};
      }
      .page-numbers{ // li span, li a
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(#fff, 1);
        border-radius: 50%;
        width: #{$pageNBtnS + 'px'};
        height: #{$pageNBtnS + 'px'};
        font-family: $ff-en;
        font-size: 1.6rem;
        line-height: 1;
        // カレント
        &.current{
          border-color: rgba($mainColor, 1);
          color: rgba($mainColor, 1);
        }
        // リンク有り
        &:link, &:visited{
          color: rgba($textBaseColor, 1);
        }
        &:hover, &:active{
          opacity: 1;
          color: rgba(#fff, 1);
          background-color: rgba($mainColor, 1);
          border-color: rgba($mainColor, 1);
        }
        // dot
        &.dots{
          font-family: $ff-go;
          color: rgba($textBaseColor, 1);
          &::before{
            content: none;
          }
        }
      }
      // 前後へ
      .page-numbers.prev,
      .page-numbers.next{
        width: #{$pageNBtnS + 'px'};
        height: #{$pageNBtnS + 'px'};
        background-image: url(./assets/images/common/icon-arrow-toggle.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        border: none;
        transform: rotate(-90deg);
        &:link, &:visited{
          background-color: transparent;
        }
        &:hover, &:active{
          background-image: url(./assets/images/common/icon-arrow-toggle.svg);
          background-color: transparent;
        }
      }
      .page-numbers.prev{
        transform: rotate(90deg);
      }
      .page-numbers.next{
      }
    }
  }
}
@include res_min( map-get($BP, md) ){
  .navigation.pagination{
    margin-top: 86px;
    .nav-links{
      ul.page-numbers{ // UL
        gap: 16px;
        & > li{
          flex-basis: #{$pageNBtnL + 'px'};
          height: #{$pageNBtnL + 'px'};
        }
        .page-numbers{ // li span, li a
          width: #{$pageNBtnL + 'px'};
          height: #{$pageNBtnL + 'px'};
        }
        // 前後へ
        .page-numbers.prev,
        .page-numbers.next{
          width: #{$pageNBtnL + 'px'};
          height: #{$pageNBtnL + 'px'};
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
  前後の記事 - シングルページ
---------------------------------------------------------------- */
.post-navi{
  margin-top: 60px;
  border-top: 1px solid rgba($textBaseColor, 0.15);
  border-bottom: 1px solid rgba($textBaseColor, 0.15);
  display: grid;
  grid-template-columns: calc((100% - 39%) / 2) minmax(39%, 356px) calc((100% - 39%) / 2);
  overflow: hidden;

  //共通設定
  a{
    display: flex;
    padding: 0 10px;
    height: 40px;
    align-items: center;
    font-family: $ff-en;
    letter-spacing: -0.025em;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: rgba($textBaseColor, 1);
    white-space: nowrap;
    &:link, &:hover{
      background-color: rgba($textBaseColor, 0);
      color: rgba($textBaseColor, 1);
    }
    &:hover, &:active{
      background-color: rgba($textBaseColor, 1);
      color: rgba(#fff, 1);
    }
  }

  //前後の記事へ
  .prev-post,
  .next-post{
    .prev-link,
    .next-link{
      justify-content: space-between;
      &::after{
        content: '';
        width: 10px;
        height: 6px;
        background-color: rgba($textBaseColor, 1);
        -webkit-mask-image: url(./assets/images/common/icon-arrow-toggle.svg);
                mask-image: url(./assets/images/common/icon-arrow-toggle.svg);
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        -webkit-mask-position: center;
                mask-position: center;
        -webkit-mask-size: 100%;
                mask-size: 100%;
        @include transition();
      }
      &:hover{
        &::after{
          background-color: rgba(#fff, 1);
        }
      }
    }
  }

  //前の記事
  .prev-post{
    .prev-link{
      flex-direction: row-reverse;
      padding-right: 20px;
      &::after{
        transform: rotate(90deg);
      }
    }
  }

  //次の記事
  .next-post{
    .next-link{
      padding-left: 20px;
      &::after{
        transform: rotate(-90deg);
      }
    }
  }

  //一覧へ
  .archive-post{
    border-left: 1px solid rgba($textBaseColor, 0.15);
    border-right: 1px solid rgba($textBaseColor, 0.15);
    .archive-link{
      justify-content: center;
      gap: 8px;
      &::after{
        content: '';
        width: 15px;
        height: 15px;
        background-color: rgba($textBaseColor, 1);
        -webkit-mask-image: url(./assets/images/common/icon-view-all.svg);
                mask-image: url(./assets/images/common/icon-view-all.svg);
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        -webkit-mask-position: center;
                mask-position: center;
        -webkit-mask-size: 100%;
                mask-size: 100%;
        @include transition();
      }
      &:hover{
        &::after{
          background-color: rgba(#fff, 1);
        }
      }
    }
  }
}
@include res_min( map-get($BP, md) ){
  .post-navi{
    margin-top: 110px;

    //共通設定
    a{
      padding: 0 30px;
      height: 80px;
      font-size: 1.8rem;
    }

    //前の記事
    .prev-post{
      .prev-link{
        padding-right: 50px;
      }
    }

    //次の記事
    .next-post{
      .next-link{
        padding-left: 50px;
      }
    }
  }
}


//まだ記事はありません
.not-post{
}
@include res_min( map-get($BP, md) ){
  .not-post{
  }
}



/* ----------------------------------------------------------------
  カスタム投稿タイプ：製品情報
---------------------------------------------------------------- */
//各パーツ
.product-meta{
  @include flex(nowrap, flex-start, stretch);
  flex-direction: column;
  .product-name{
    order: 2;
  }
  .product-category{
    order: 1;
  }
  .product-tag{
    order: 3;
  }
}
.product-name{
  margin-top: 10px;
  font-family: $ff-en;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 1.1;
  letter-spacing: 0;
  @include transition();
}
.product-category{
  font-size: 1.8rem;
  color: rgba($mainColor, 1);
  letter-spacing: 0;
}
.product-tag{
  margin-top: 10px;
  .product-tag__name{
    &:not(:first-of-type){
      margin-top: 6px;
    }
    width: 50%;
    background-color: rgba($textBaseColor, 1);
    font-family: $ff-en;
    font-size: 1.6rem;
    letter-spacing: 0;
    color: rgba(#fff, 1);
    text-align: center;
    @include transition();
  }
}
@include res_min( map-get($BP, md) ){
  .product-name{
    margin-top: 15px;
    font-size: 6rem;
  }
  .product-category{
    font-size: 2rem;
  }
  .product-tag{
    .product-tag__name{
      width: 100%;
      font-size: 1.8rem;
    }
  }
}

//製品情報：リスト
.product-list{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px 30px;
  //各アイテム
  .product-list__item{
    //リンク
    .product-link{
      @include flex(nowrap, flex-start, stretch);
      flex-direction: column-reverse;
      position: relative;
      .product-name{
        padding-right: 50px;
        line-height: 1.4;
        // br{
        //   display: none;
        // }
      }
      &:link, &:visited{
        color: rgba($textBaseColor, 1);
      }
      &:hover, &:active{
        .product-name{
          color: rgba($mainColor, 1);
        }
        .product-tag{
          .product-tag__name{
            background-color: rgba($mainColor, 1);
          }
        }
        //丸ボタンアニメーション：ホバー設定
        .button-r-link-large{
          &::after{
            background-color: rgba($mainColor, 0);
            border-color: transparent;
          }
          &::before{
            background-color: rgba($mainColor, 1);
          }
        }
        .button-circle-ani{
          //広がりながら消える丸
          &::after{
            transform: scale(1.15);
            opacity: 0;
          }
          //丸を描くアニメーション
          circle.circle-ani{
            opacity: 1;
            -webkit-animation: circleAni cubic-bezier(0.35, 0.01, 0, 0.98) 1.5s 1;
            animation: circleAni cubic-bezier(0.35, 0.01, 0, 0.98) 1.5s 1;
          }
        }
      }
    }
    //イメージ+tag表示
    .product-item-data{
      aspect-ratio: 379 / 303;
      background-color: #fff;
      border-radius: 10px 10px 0 0;
      position: relative;
      z-index: 1;
      .product-item-image{
        width: 80%;
        height: 80%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        img{
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
            object-fit: contain;
        }
      }
      .product-tag{
        display: inline-flex;
        flex-direction: column;
        gap: 3px;
        margin: 10px 0 0 -10px;
        .product-tag__name{
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 0;
          font-size: 1.1rem;
          white-space: nowrap;
        }
      }
    }
    //丸ボタンアニメーション
    .button-r-link-large{
      transform: scale(0.5) translateY(50%);
      transform-origin: right bottom;
      position: absolute;
      right: 10px;
      bottom: 0;
    }
    //商品名
    .product-name{
      margin-top: 10px;
      font-size: 1.6rem;
    }
  }
  //アーカイブページのみ
  &.product-list--archive{
    margin-top: 40px;
    grid-template-columns: 1fr;
    gap: 60px 0;
    //各アイテム
    .product-list__item{
      counter-increment: numProList;
      //イメージ+tag表示
      .product-item-data{
        order: 3;
        //No.表示
        position: relative;
        &::before{
          content: counter(numProList, decimal-leading-zero);
          font-family: $ff-en;
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 1;
          text-align: right;
          position: absolute;
          left: 15px;
          top: -0.45em;
          z-index: 1;
        }
        &::after{
          content: '';
          width: calc(100% - 2em - 0.5em);
          height: 2px;
          background-color: rgba($textBaseColor, 1);
          font-family: $ff-en;
          font-size: 4rem;
          position: absolute;
          left: 2em;
          top: -1px;
          z-index: 1;
        }
      }
      //丸ボタンアニメーション
      .button-r-link-large{
        transform: scale(1) translateY(50%);
      }
      //商品名
      .product-name{
        order: 2;
        margin-top: 20px;
        font-family: $ff-go;
        font-size: 2.2rem;
        font-weight: 500;
      }
      //リード文
      .product-lead{
        order: 1;
        margin-top: 12px;
        line-height: 1.6;
      }
    }
  }
}
@include res_min( map-get($BP, lg) ){
  .product-list{
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: min(110px, 5.5vw) 32px;
    //各アイテム
    .product-list__item{
      //リンク
      .product-link{
        .product-name{
          padding-right: 100px;
        }
      }
      //イメージ+tag表示
      .product-item-data{
        border-radius: 20px 20px 0 0;
        .product-item-image{
          width: 85%;
          height: 85%;
        }
        .product-tag{
          margin: 23px 0 0 -8px;
          .product-tag__name{
            padding-left: 18px;
            padding-right: 18px;
            margin-top: 0;
            font-size: 1.6rem;
          }
        }
      }
      //丸い動くボタン
      .button-r-link-large{
        transform: scale(1) translateY(50%);
      }
      //商品名
      .product-name{
        margin-top: 20px;
        font-size: 2rem;
      }
    }
    //アーカイブページのみ
    &.product-list--archive{
      margin-top: 0;
      grid-template-columns: repeat(3, 1fr);
      gap: 70px 32px;
      //各アイテム
      .product-list__item{
        //イメージ+tag表示
        .product-item-data{
          //No.表示
          &::before{
            left: 25px;
          }
          &::after{
            width: calc(100% - 2.1em - 0.5em);
            left: 2.1em;
          }
        }
        //商品名
        .product-name{
          margin-top: 25px;
          font-size: 2rem;
        }
        //リード文
        .product-lead{
          margin-top: 14px;
          line-height: 2;
        }
      }
    }
  }
}