@use '../_core/valiables' as *;
@use '../_core/mixins' as *;

// @use '../_partials/base';
// @use '../_partials/common';
@use '../_partials/editor';

html{
  font-size: 62.5%; //10px
}

.editor-styles-wrapper.block-editor-writing-flow {
  // reset.css -------------
  // ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:400;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}sub,sup{font-size:50%;font-weight:400}a img{border:none}article,aside,details,figcaption,figure,picture,footer,header,hgroup,main,menu,nav,section,summary{display:block}input[type='button']:not([disabled]),input[type='submit']:not([disabled]),input[type='reset']:not([disabled]),button:not([disabled]){cursor:pointer}[hidden]{display:none!important}button{background-color:transparent;border:none;cursor:pointer;outline:none;padding:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
  //-------------

  //入力エリア内側の定義
  width: 100%;
  max-width: 920px;
  margin: 20px auto;
  padding: 0 0 100px;
  font-family: $ff-go;
  font-size: 1.6rem;
  font-weight: 400; // R:400, M:500, B:600
  line-height: 2;
  letter-spacing: 0.05em;
  color: $textBaseColor;
  h1,h2,h3,h4,h5,h6,
  figure,p{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .wp-block {
    max-width: 100%;
  }

  .wp-block-image { //imgを囲うボックス
      .components-resizable-box__container {
        height: auto !important; //画像をリサイズしたときに必要
        max-width: 100% !important; //画像をリサイズしたときに必要
      }
     img { //imgの定義
    }
  }

  //メインタイトルの定義
  .editor-post-title__block {
      .editor-post-title__input {
      }
  }
  .edit-post-visual-editor__post-title-wrapper .editor-post-title {
    margin-bottom: 80px;
    font-size: 3.2rem;
    font-weight: bolder;
  }


} //.editor-styles-wrapper